
@import "reset.css";

@import "font.css";
@import "sidebar.css";
@import "code.css";

html, body {
    height: 100%;
    overflow: hidden;
}

html {
   font-family: "Roboto", sans-serif;
}

.link {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}